In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("../csv/AAPL.csv")

In [5]:
# 컬럼의 데이터를 인덱스로 변경
# set_index(컬럼명)
df = df.set_index('Date')

In [6]:
# 컬럼의 이름을 변경하려면?
df.columns = ['시가', '고가', '저가', '종가', '수정종가', '거래량']

In [7]:
df.index.name = "날짜"

In [8]:
# 데이터프레임에서 특정 컬럼으로 필터
df.loc[:,'시가' : '수정종가']
df.iloc[:, 1:3]

                    고가          저가
날짜
1980-12-12    0.515625    0.513393
1980-12-15    0.488839    0.486607
1980-12-16    0.453125    0.450893
1980-12-17    0.464286    0.462054
1980-12-18    0.477679    0.475446
...                ...         ...
2019-06-18  200.289993  195.210007
2019-06-19  199.880005  197.309998
2019-06-20  200.610001  198.029999
2019-06-21  200.850006  198.149994
2019-06-24  200.160004  198.169998

[9715 rows x 2 columns]

In [9]:
# 시가가 100달러 이상인 경우
df.loc[df['시가'] >= 100]

,시가,고가,저가,종가,수정종가,거래량
날짜,,,,,,
2012-09-19,100.037140,100.570000,99.938568,100.300003,88.242981,81718700.0
2012-09-21,100.344284,100.724289,99.908569,100.012856,87.990341,142897300.0
2014-08-20,100.440002,101.089996,99.949997,100.570000,92.633347,52699000.0
2014-08-21,100.570000,100.940002,100.110001,100.580002,92.642563,33478000.0
2014-08-22,100.290001,101.470001,100.190002,101.320000,93.324173,44184000.0
...,...,...,...,...,...,...
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [10]:
# query() 함수
# query(조건식)
df.query("시가 >= 100 & 고가 < 150")

,시가,고가,저가,종가,수정종가,거래량
날짜,,,,,,
2012-09-19,100.037140,100.570000,99.938568,100.300003,88.242981,81718700.0
2012-09-21,100.344284,100.724289,99.908569,100.012856,87.990341,142897300.0
2014-08-20,100.440002,101.089996,99.949997,100.570000,92.633347,52699000.0
2014-08-21,100.570000,100.940002,100.110001,100.580002,92.642563,33478000.0
2014-08-22,100.290001,101.470001,100.190002,101.320000,93.324173,44184000.0
...,...,...,...,...,...,...
2017-07-13,145.500000,148.490005,145.440002,147.770004,143.326370,25199400.0
2017-07-14,147.970001,149.330002,147.330002,149.039993,144.558197,20132100.0
2019-01-03,143.979996,145.720001,142.000000,142.190002,141.039642,91244100.0
2019-01-04,144.529999,148.550003,143.800003,148.259995,147.060516,58607100.0
2019-01-07,148.699997,148.830002,145.899994,147.929993,146.733185,54777800.0

In [11]:
data = [
    [100, 900, 800, 700], 
    [1200, 1400, 900, 800]
]
columns = [
    ['영업이익', '영업이익', '당기순이익', '당기순이익'],
    ['컨센서스', '잠정치', '컨센서스', '잠정치']
]

df = pd.DataFrame(data, columns=columns)

In [12]:
# stack(), unstack()
stack_df = df.stack()

In [13]:
df.stack(level=0)

          잠정치  컨센서스
0 당기순이익   700   800
  영업이익    900   100
1 당기순이익   800   900
  영업이익   1400  1200

## 할로윈 투자 전략
1. 11월 1일에 구매 -> 6개월간 유지 -> 4월 말일에 판매
2. 11월 첫날의 시가로 구매
3. 4월 마지막 날의 종가 판매
4. 수익률 = (3번과정 - 2번과정) / 2번과정
5. AMZN 데이터로 2000년부터 2019년까지 데이터로 백테스팅

In [14]:
df = pd.read_csv("../csv/AMZN.csv")

In [15]:
df["Date"] = pd.to_datetime(df['Date'],format="%Y-%m-%d")

In [16]:
df.set_index("Date", inplace = True)

In [17]:
acc_rtn = 1

for i in range(2000, 2019, 1) :
    buy_mon = str(i) + "-11"
    sell_mon = str(i + 1) + "-04"
    
    # 구입가 저장
    buy = df.loc[buy_mon].iloc[0]['Open']
    sell = df.loc[sell_mon].iloc[-1]['Close']

    # 수익률
    rtn = (sell - buy) / buy + 1

    # 누적 수익률
    acc_rtn *= rtn

In [18]:
acc_rtn

8.244683980501206

In [19]:
# buyandhold 인 경우
buy = df.loc["2000-11"].iloc[0]['Open']
sell = df.loc["2019-04"].iloc[-1]['Close']

rtn = (sell-buy)/buy+1

rtn

53.794625340314134

In [20]:
# CAGR(연복리수익률)
# (수익률 ** (1/투자기간)) -1

# 할로윈 CAGR
CAGR = (acc_rtn ** (1/20)) - 1
print(CAGR*100)

11.124213625243007

In [21]:
# 바이앤홀드 CAGR
CAGR = (rtn ** (1/20)) -1
print(CAGR*100)

22.04976410456394

In [22]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [23]:
start = datetime(year = 2000, month=11, day=1)
start

datetime.datetime(2000, 11, 1, 0, 0)

In [24]:
end = start + relativedelta(month=5)
end

datetime.datetime(2000, 5, 1, 0, 0)

In [25]:
print(start.strftime("%Y-%m"), end.strftime("%Y-%m"))

2000-11 2000-05

In [26]:
def six_month(df,start = 2000, end = 2019, month=11):
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df['Date'],format="%Y-%m-%d")
        df.set_index('Date',inplace=True)

    # 누적 수익률 변수를 생성
    acc_rtn = 1

    for i in range(start, end):
        start_ = datetime(year = i, month=month, day=1)
        end_ = start_ + relativedelta(months = 5)

        buy_mon = start_.strftime("%Y-%m")
        sell_mon = end_.strftime("%Y-%m")

        buy = df.loc[buy_mon].iloc[0]['Open']
        sell = df.loc[sell_mon].iloc[-1]['Close']

        rtn = (sell - buy)/buy +1
        acc_rtn *= rtn
        
    return acc_rtn

In [27]:
df_ = pd.read_csv("../csv/AMZN.csv")

In [28]:
six_month(df_)

8.244683980501206

In [29]:
for i in range(1,13,1):
    print(f"{i}월",six_month(df_,month=1))

1월 4.470910943811504
2월 4.470910943811504
3월 4.470910943811504
4월 4.470910943811504
5월 4.470910943811504
6월 4.470910943811504
7월 4.470910943811504
8월 4.470910943811504
9월 4.470910943811504
10월 4.470910943811504
11월 4.470910943811504
12월 4.470910943811504

In [30]:
import halloween as hw
import imp
imp.reload(hw)

/var/folders/4y/93qj5cyd2_l_grwvr8b04z2m0000gn/T/ipykernel_10995/278314112.py:2: DeprecationWarning: the imp module is deprecated in favour of importlib and slated for removal in Python 3.12; see the module's documentation for alternative uses
  import imp

In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("../csv/AMZN.csv")

In [33]:
test = hw.Halloween(df,2000,2019)

In [34]:
test.accrtn()

8.244683980501206

In [35]:
test.cagr()

11.742834843522832