# mysql과 python연동
1. 라이브러리 설치
2. sql 서버의 정보를 등록
3. sql 서버에 접속
4. sql 쿼리문을 이용하여 데이터를 CRUD작업

In [ ]:
# pymysql 설치
!pip install pymysql

In [ ]:
import pymysql

In [ ]:
# sql 서버의 정보를 입력
_db = pymysql.connect(
    user = 'root',
    host = 'localhost',
    db = 'ubion7',
    port = 3306
)

In [ ]:
# cursor변수 생성
# sql 쿼리문을 실행 시키기 위한 필수 변수
# DictCursor는 sql 쿼리문이 실행되고 나온 데이터를 딕셔너리 형태로 받는다
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [ ]:
# select로 테이블 정보 확인
sql = """
    select
    *
    from
    user_info
"""

cursor.execute(sql)

In [ ]:
result = cursor.fetchall()

In [ ]:
import pandas as pd

In [ ]:
pd.DataFrame(result)

In [ ]:
sql = """
    select
    *
    from
    example
"""

cursor.execute(sql)
result = cursor.fetchall()
df = pd.DataFrame(result)
df

In [ ]:
# 데이터를 만들어서 insert를 사용해서 비쥬얼에서 db테이블로 저장
# sql = """
#     insert into
#     user_info
#     values
#     ("macgigyun","1234","macgigyun","01034567890",2)
# """

# cursor.execute(sql)

In [ ]:
_db.commit()

### sql 함수화  쿼리문->select(조회),insert,delete,update
                    sql을 실행시키기 위한 명령어. 이런 쿼리문을 실행시키는게 fetchall,execute 
1. 첫 번째 함수
  - 매개변수 1개(sql 쿼리문)
  - sql 쿼리문을 실행하고 결과를 데이터프레임으로 변경하여 리턴
2. 두 번째 함수
  - 매개변수 1개(sql 쿼리문)
  - sql 쿼리문을 실행하고 데이터베이스를 변경
3. 세 번째 함수
  - 1번 함수와 2번 함수를 하나의 함수에서 실행이 될수 있도록 생성

In [ ]:
def sql_select(sql):
    # 쿼리문 실행
    cursor.execute(sql)
    # 쿼리문에 대한 결과
    result = cursor.fetchall()
    df = pd.DataFrame(result)
    return df

In [ ]:
sql = """
    select      
    *
    from
    user_info
"""
sql_select(sql)
# sql이 어떤 역할을 하는지 나타내는 구문들 여기 같은 경우에는 selet 확인을함

In [ ]:
def _sql(sql,values):
    cursor.execute(sql,values)
    _db.commit()

In [ ]:
sql ="""
    insert into
    user_info
    values
    (%s, %s, %s, %s, %s)
"""

values = ["test10", "12345", "test10","01034345656",2]

sql(sql,values)

In [ ]:
sql = """
    insert
    *
    from
    user_info
"""

sql.find('select')

In [ ]:
def sql_query(sql,values =[]):
    # if (sql.find("select") != -1)and (sql.find('select')<10):
    if (sql.replace('\n','').strip().startswith('select')):
        cursor.execute(sql,values)
        result = cursor.fetchall()
        result = pd.DataFrame(result)
    else:
        cursor.execute(sql,values)
        _db.commit()
        result = "Query OK"
    return result

In [ ]:
sql = """
    select
    *
    from
    user_info
"""

sql_query(sql)

In [ ]:
# delete로 테이블에 저장되어있는 정보 삭제
sql = """
    delete
    from
    user_info
    where
    user_id = %s
"""

values = ['test10']

sql_query(sql,values)

In [ ]:
import mod_sql
import imp
imp.reload(mod_sql)

In [ ]:
# 서버와 연결을 해줌. 만약 자료를 더 불러와야 한다면 이 구문을 이용하여 서버와 연결을 시켜줘야함.
test = mod_sql.Database(
    _host = 'localhost',
    _user = 'root',
    _db = 'ubion7',
    _port =3306)

In [ ]:
sql = """
    select
    *
    from
    user_info
"""
test.sql_query(sql)

In [ ]:
sql = """
    select
    Name as '이름',
    Phone as '휴대폰번호'
    from
    example
    where
    Gender = %s
    limit 3 
"""
values = ['female']
test.sql_query(sql,values)
# `` 백 커리 이거 쓰면 한 문자열로 취급해서 묶임.

In [ ]:
sql = """
    select
    createDt as '등록일시',
    deathCnt as '사망자',
    decideCnt as '감염자'
    from
    corona
"""

test.sql_query(sql)

In [ ]:
test.sql_close() # 원래 필요한 자료를 불러오면 서버와의 연결을 끊어줘야함.

In [ ]:
df = pd.read_csv("../csv/corona.csv")

In [ ]:
df.head(3)

In [ ]:
df = df[['createDt','deathCnt','decideCnt']]
df.head(3)

In [ ]:
df.columns = ['등록일시','사망자','감염자']
df.head()

In [ ]:
sql = """
    select 
    `Country` as '국가', 
    `Units Sold` as '판매개수', 
    `Unit Price` as '가격', 
    `Unit Cost` as '원가', 
    (`Units Sold` * `Unit Price`) as '총수익', 
    (`Units Sold` * `Unit Cost`) as '총비용', 
    (`Units Sold` * `Unit Price` - `Units Sold` * `Unit Cost`) as '총이윤'
    from 
    `Sales Records`
"""
test.sql_query(sql)