1. emp table에서 SAL 1000이상이고 3000미만인 사원의 정보를 출력
2. emp, dept를 left join을 이용하여 결합한 뒤 부서의 위치가 'NEW YORK'인 데이터를 출력

In [ ]:
import mod_sql

In [ ]:
# 클래스를 생성
db = mod_sql.Database('localhost', 'root', 'ubion7', 3306)

In [ ]:
sql = """
    select 
    * 
    from 
    emp
    where
    (SAL >= 1000) 
    and 
    (SAL < 3000)
"""
db.sql_query(sql)

In [ ]:
sql  = """
    select 
    * 
    from 
    emp 
    left join 
    dept 
    on 
    emp.DEPTNO = dept.DEPTNO
    where 
    LOC = 'NEW YORK'
"""

db.sql_query(sql)

1. emp, dept를 right join결합
2. 부서번호가 40인 데이터만 출력

In [ ]:
# mods_sql을 통해서 Database 클래스를 생성
db = mod_sql.Database('localhost', 'root', 'ubion7', 3306)

In [ ]:
sql = """ 
    select * from emp
    right join dept
    on emp.DEPTNO = dept.DEPTNO
    where 
    emp.DEPTNO = 40
    or
    dept.DEPTNO = 40
"""

db.sql_query(sql)

In [ ]:
import requests
from bs4 import BeautifulSoup as bs

In [ ]:
# 실제 사이트에서 html 정보를 받아와서 변수에 저장
data = requests.get('https://finance.naver.com/marketindex/exchangeList.naver').text

In [ ]:
# BeautifulSoup을 이용하여 데이터를 파싱
soup = bs(data, 'html.parser')

In [ ]:
# find는 html안에서 해당 태그의 첫번째 정보를 출력
soup.find('tbody')

In [ ]:
# find_all() 해당태그의 전체 정보를 리스트의 형태로 출력
data_list = soup.find_all('td')

In [ ]:
# data_list를 이용하여 2차원 배열로 새로운 리스트를 생성
# 1차원 리스트 생성
# [[7개씩], [7개씩], [7개씩], [7개씩]] -> 2차원 리스트
_list = []
for i in data_list:
    x = i.get_text()
    x = x.replace("\n",'')
    x = x.strip("\t")
    _list.append(x)
_list

In [ ]:
# 2차원 리스트
result = []
for i in range(len(_list)//7):
    result.append(_list[i*7:(i+1)*7])
result

In [ ]:
import pandas as pd

In [ ]:
columns = ["통화명","매매기준율","현찰(구매)","현찰(판매)","송금(보낼때)","송금(받을때)","미화환산율"]

In [ ]:
import mod_sql

In [ ]:
db = mod_sql.Database('localhost', 'root', 'ubion7', 3306)

In [ ]:
# 리로드 해주기..!
import mod_sql
import imp
imp.reload(mod_sql)

In [ ]:
# DB에 table 생성(naver)
# 필드는 7개 모두 필드의 타입은 문자열 구성
# 통화명 필드는 primary key

sql = """ 
    create table `naver`(
       `통화명` varchar(16) primary key,
       `매매기준율` varchar(16),
       `현찰(구매)` varchar(16),
       `현찰(판매)` varchar(16),
       `송금(보낼때)` varchar(16),
       `송금(받을때)` varchar(16),
       `미화환산율` varchar(16)
    )
"""
db.sql_query(sql)

In [ ]:
# naver라는 이름으로 생성한 테이블에 데이터 삽입
# 데이터를 삽입하는 insert문을 작성
sql ="""
    insert into
    naver
    values
    (%s, %s, %s, %s, %s ,%s, %s)
"""

values = ['toy',2,3,4,5,6,7]

db.sql_query(sql,values)

In [ ]:
# sql에 있는 데이터 삭제
sql = """ 
    delete from `naver`
    where `통화명` = 'toy'
"""

db.sql_query(sql)

In [ ]:
result[0]

In [ ]:
# result 변수의 데이터를 naver 테이블 삽입 - 부분
sql ="""
    insert into
    `naver`
    values
    (%s, %s, %s, %s, %s ,%s, %s)
"""
values = result[0]

db.sql_query(sql,values)

In [ ]:
sql = """ 
    delete from `naver`
    where `통화명` = '미국 USD'
"""

db.sql_query(sql)

In [ ]:
# result 변수의 데이터를 naver 테이블 삽입 전체(for 반복문 사용)
sql ="""
    insert into
    `naver`
    values
    (%s, %s, %s, %s, %s ,%s, %s)
"""
# for i in range(len(result)):   -> 풀어서적는법
#     values = result[i]
#     db.sql_query(sql,values)

for i in result:
    db.sql_query(sql,i)

In [ ]:
sql ="""
    select * from naver
"""

db.sql_query(sql)

In [ ]:
# primary key(유니크,중복x,null값x)로 쓸 데이터가 없을때 primary key로 사용하기 위해서 auto increment(인덱스를 실시간으로 달아줌)를 사용한다.
sql ="""
    insert into
    `naver2`
    (`통화명`,`매매기준율`,`현찰(구매)`,`현찰(판매)`,`송금(보낼때)`,`송금(받을때)`,`미화환산율`)
    values
    (%s, %s, %s, %s, %s ,%s, %s)
"""
for i in result:
    db.sql_query(sql,i)

In [ ]:
sql = """ 
    delete from `naver2`
"""
db.sql_query(sql)

# mongodb
1. 라이브러리 설치
2. 라이브러리 로드
3. CRUD
- create, read, update ,delete

In [ ]:
!pip install pymongo

In [ ]:
from pymongo import MongoClient

In [ ]:
client = MongoClient(
    host = 'localhost',
    port = 27017
)

In [ ]:
# mongodb에 있는 데이터베이스의 목록 출력 환경변수?
client.list_database_names()

In [ ]:
# 데이터베이스를 선택
db = client['ubion']

In [ ]:
# collection 접근 (collection은 sql에서 table과 같은 의미)
collection = db['test']

In [ ]:
# CRUD -> C
# create -> insert()
# insert_one() / insert_many()
data = {
    'id' : 'test',
    'pass' : '1234'    
}
collection.insert_one(data)

In [ ]:
collection.find_one()   # 괴상한 값은 primary key이다. 암호화된 데이터->해쉬값

In [ ]:
data = [
    {
        'name' : 'test1',
        'phone' : '01011112222',
        'gender' : 'male'
    },
    {
        'loc' : 'seoul'
    }
]
collection.insert_many(data)

In [ ]:
list(collection.find())

1. sql에서 test table에서 name이 test1인 경우의 데이터를 출력
  - select * from test where name = 'test1'

In [ ]:
list(collection.find({"name" : "test1"}))

1. 해당하는 컬럼의 데이터만 출력하려면
  - select name from test

In [ ]:
list(collection.find({},{'name':1}))

1. 데이터의 수정
  - updqte test set pass = '0000' where id = 'test'
  - test 테이블에 id가 test인 데이터에서 pass의 값을 0000으로 수정하겠다

In [ ]:
collection.update_one(
    {
       "id" : "test"
    },
    {
       "$set" : {
          "pass" : "0000"
       }
    }
)

In [ ]:
collection.find_one()

1. 데이터의 삭제
   - delete from test where id = 'test'
   - test 테이블에서 id가 'test'인 데이터를 삭제

In [167]:
collection.delete_one(
    {
       "id" : "test"
    }
)

In [168]:
list(collection.find())

[{'_id': ObjectId('643f8b03db17ccb4414a090d'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('643f8cdddb17ccb4414a090e'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f8cdddb17ccb4414a090f'), 'loc': 'seoul'}]

In [171]:
list(client['ubion']['test'].find())

[{'_id': ObjectId('643f8b03db17ccb4414a090d'), 'id': 'test', 'pass': '1234'},
 {'_id': ObjectId('643f8cdddb17ccb4414a090e'),
  'name': 'test1',
  'phone': '01011112222',
  'gender': 'male'},
 {'_id': ObjectId('643f8cdddb17ccb4414a090f'), 'loc': 'seoul'}]

### mongo  select 조건식
 - find(옵션1, 옵션, 옵션3, ..., 컬럼 선택)

    1. db.collection.find() -> select * from TABLE
    2. db.collection.find({}, {"id":1, "pass" :1}) -> select id , pass from TABLE
    3. db.collection.find({},{"id":1, "pass":1, "_id" :0}) -> 2번과정과 같은 sql문이지만 _id를 보여주지 않겠다
    4. db.collection.find({"id" : "test"}) -> select * from TABLE where id = "test"
    5. db.collection.find({"id" : "test", "pass" : "1234"}) -> select * from TABLE where id = 'test' and pass = '1234'
    6. db.collection.find({"id" : "test"},{"pass" : "1234"}) -> select * from TABLE where id = "test" or pass = "1234"
    7. db.collection.find({"age" : {"$gt" : 25}}) -> select * from TABLE where age > 25
    8. db.collection.find({"age" : {"$1t" : 25}}) -> select * from TABLE where age < 25
    9. db.collection.find({"id" : {/bc/}}) -> select * from TABLE wher id like '%bc%'
    10. db.collection.find().sort({"id":1}) -> select * from TABLE order by id ASC 
    11. db.collection.find().sort({"id":-1}) -> select * from TABLE order by id DESC
    12. db.collection.find().limit(10) -> select * from TABLE limit 10